@mixin theme-dark {
  --default-font-color: #d4d4d4;
  --background-color: #191919;

  ////////////
  // layout //
  ////////////
  // dock
  --dock-background-color: #202020;
  --dock-border-color: #808080;
  --dock-button-background-color: transparent;
  --dock-hovered-color: #303030;
  --dock-clicked-color: #404040;

  //////////
  // post //
  //////////
  // table
  --table-border-color: #808080;
  --table-heading-cell-color: #143444;
  --table-empty-cell-color: #808080;

  // code
  --code-background-color: #202020;
  --code-font-color: #C3DF6A;
}