@mixin theme-dark {
  --default-font-color: #d4d4d4;
  --primary-background-color: #031212;

  // button
  --button-hovered-color: #0D3939;
  --button-clicked-color: #174D4D;

  // post
  --table-border-color: #b0b0b0;
  --table-heading-cell-color: #0d3b3b;
}