@use 'font/NanumSquare.scss';
@use 'font/D2Coding.scss';

// theme
@use 'theme/light.scss' as light;
@use 'theme/dark.scss' as dark;

:root {
  --default-content-font: 'NanumSquare';
  --default-code-font: 'D2Coding';

  // button
  --button-diameter: 50px;

  &[color-theme="light"]{
    @include light.theme-light;
  }

  &[color-theme="dark"]{
    @include dark.theme-dark;
  }
}
