@use 'font/NanumSquare.scss';

:root {
  --default-content-font: 'NanumSquare';

  // button
  --button-diameter: 50px;
}

:root[color-theme="light"]{
  --default-font-color: #000000;
  --primary-background-color: #C1DCBA;

  // button
  --button-hovered-color: #88a182;
  --button-clicked-color: #4d5c49;
}

:root[color-theme="dark"]{
  --default-font-color: #d4d4d4;
  --primary-background-color: #061316;

  // button
  --button-hovered-color: #15404a;
  --button-clicked-color: #266f80;
}
