@use "sass:map";
@use "theme";
@use "config";

////////////////////////////
////////// config //////////
////////////////////////////
$default-border-width: 1px;

$title: (
  font: (
    size: 3rem,
    weight: 800
  )
);

// content
$font-size: (
  h1: 1.5rem,
  p: 1rem
);

// table
$table: (
  cell: (
    padding: (
      lr: 0.2em, // left and right
      tb: 0.25em // top and bottom
    )
  )
);

// code
$code: (
  padding: (
    tb: 0.1em,
    lr: 0.5em
  ),
  margin: (
    tb: 0.1em,
    lr: 0.25em
  ),
  radius: 0.3em
);


///////////////////////////////
///////////// css /////////////
///////////////////////////////
.post {
  font-family: var(--default-content-font);
  width: config.$post-default-width;
  margin-left: auto;
  margin-right: auto;

  .post-title {
    h1 {
      font-size: #{map.get($title, 'font', 'size')};
      font-weight: #{map.get($title, 'font', 'weight')};
    }
  }

  .post-content{
    h1 {
      font-size: #{map.get($font-size, 'h1')};
      margin-top: 2em;
    }

    table {
      th {
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        color: var(--default-font-color);
        background-color: var(--table-heading-cell-color);
      }

      th, td {
        padding: #{map.get($table, 'cell', 'padding', 'tb')} #{map.get($table, 'cell', 'padding', 'lr')};
      }

      &, th, td {
        border-width: $default-border-width;
        border-style: solid;
        border-color: var(--table-border-color);
        border-collapse: collapse;
      }

      td:empty{
        text-align: center;
        vertical-align: middle;
        background-color: var(--table-empty-cell-color);

        &::after{
          content: "-";
        }
      }
    }
    
    &:not(.highlight) code {
      font-family: 'D2Coding';
      background-color: var(--code-background-color);
      color: var(--code-font-color);
      padding: #{map.get($code, 'padding', 'tb')} #{map.get($code, 'padding', 'lr')};
      margin: #{map.get($code, 'margin', 'tb')} #{map.get($code, 'padding', 'lr')};
      border-radius: #{map.get($code, 'radius')};
    }
  }
}

@media ( max-width: #{config.$post-default-width} ){
  .post { width: auto; }
}