@use "base";

.post {
  font-family: var(--default-content-font);

  .post-title {
    h1 {
      font-weight: 800;
      font-style: normal;
    }
  }

  .post-content{
    table {
      th {
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        color: var(--default-font-color);
        background-color: var(--table-heading-cell-color);
      }

      th, td {
        padding: 0.25em;
      }

      &, th, td {
        border-width: 1px;
        border-style: solid;
        border-color: var(--table-border-color);
        border-collapse: collapse;
      }
    }
  }
}