@use "base";

.btn {
  height: var(--button-diameter);
  width: var(--button-diameter);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-content: center;

  &:hover {
    background-color: var(--button-hovered-color);
  }
  &:active {
    background-color: var(--button-clicked-color);
  }
}