@font-face {
  font-family: 'D2Coding';
  font-weight: normal;
  font-style: normal;
  src: local('D2Coding'),
    url('/assets/fonts/D2Coding/D2Coding.woff2');
}

@font-face {
  font-family: 'D2Coding';
  font-weight: bold;
  font-style: normal;
  src: url('/assets/fonts/D2Coding/D2CodingBold.woff2');
}