@use "base";

// icon image
:root[color-theme="light"]{
  --home-image: url('/assets/icons/dock/home.svg');
  --theme-switcher-image: url('/assets/icons/dock/light.svg');
}

:root[color-theme="dark"]{
  --home-image: url('/assets/icons/dock/home-fill.svg');
  --theme-switcher-image: url('/assets/icons/dock/dark.svg');
}

.dock {
  background-color: var(--dock-background-color);
  position: fixed;
  list-style-type: none;

  li {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 45px 45px;

    &:hover{
      background-color: var(--dock-hovered-color);
    }
    &:active{
      background-color: var(--dock-clicked-color);
    }
  }

  .home { background-image: var(--home-image); }
  .theme-switcher{ background-image: var(--theme-switcher-image); }


}

@media ( min-width: 1440px ){
  .dock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px;
    gap: 20px;

    top: 50%;
    transform: translateY(-50%);
    left: 25px;

    width: 60px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--dock-border-color);
    border-radius: 20px;
  }
}

@media ( max-width: 1440px ){
  .dock {
    height: 60px;
    margin-bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;;
    align-items: center;
    padding: 5px 20px;
  }
}

@media ( min-width: 800px ) and ( max-width: 1440px ){
  .dock{
    border-width: 1px;
    border-style: solid;
    border-color: var(--dock-border-color);
    border-radius: 20px;

    gap: 20px;

    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;

    transition: transform 0.25s;

    &.hidden {
      transform: translate(-50%, calc(100% + 20px));
    }
  }
}

@media ( max-width: 800px ){
  .dock {
    width: auto;

    left: 0;
    right: 0;
    bottom: 0;

    transition: transform 0.25s;

    &.hidden {
      transform: translateY(100%);
    }
  }
}

